<nav class="my-navbar2">
  <div class="lista">
    <%= link_to 'Top', hilo_path(comments_order: 'top'), class: 'list-button-navbar2' %>
    <%= link_to 'Newest', hilo_path(comments_order: 'newest'), class: 'list-button-navbar2' %>
    <%= link_to 'Oldest', hilo_path(comments_order: 'older'), class: 'list-button-navbar2' %>
  </div>
</nav>


