<h1>Editing magazine</h1>
<div class="wallhilo">
  <%= render "form", magazine: @magazine %>
</div>
<br>

<div>
  <%= link_to "Show this magazine", @magazine %> |
  <%= link_to "Back to magazines", magazines_path %>
</div>
